.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
  color: black;
  /* border: 0.5px solid grey; */
}

@media (max-width: 576px) {
  #btn-post{
    font-size: 12px;
    /* width: 20px; */
  }
  .span-mbaro{
    font-size: 16px;
  }
  #mat-button{
    display: block;
  }
}
/* @media (min-width: 778px) {
 
  #mat-button{
    display: none;
  }
} */
@media (min-width:1200px) {
  .input-group{
    margin-top: 200px;
    margin-left: 500px;
    height: 70px;
  }
  .form-outline{
    width: 600px;
  
  }
  .container-fluid{
    margin-left: 200px;
  }
  .container-fluid{
    padding-top: 5px;
  }
}
@media (max-width:576px) {
  .input-group{
    margin-top: 20px;
    margin-left: 50px;
  }
  .form-outline{
    width: 250px;
  
  }
  .container-fluid{
    margin-left: 100px;
  }
  .info-box{
    padding-top: 2px;
  }
  
}
.container-fluid button{
  background-color: orange;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

