<head> 
     </head>
<div class="container">
    <br>
    <div class="row justify-content-end">
        <div class="col-4">
        
        </div>
        <div class="col-auto">
            
        </div>
      </div>
      <br>

    <div class="mat-elevation-z8">
        <table>

          <!-- ID Column -->
        <tr>
            <td id="td1">
                <h2>Post Title</h2>
                As your post storefront, your title is the most important place to include keywords that buyers would likely use to search for a service like yours.
            </td>
            
            <td>
                <div id="descRow" >
                   <input id="descInput">
                </div>
            </td>
         
        </tr>
        <tr>
            <td id="td1">
                <h2>Category</h2>
                Choose the category most suitable for your Post.
            
            <td>
                <div id="descRow" >
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl>
                          <option value="" selected>Choose an option</option>
                          <option value="volvo">Volvo</option>
                          <option value="saab" disabled>Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select>
                      </mat-form-field>
                </div>
            </td>
        </tr>
        <tr>
            <td id="td1">
                <h2>Images</h2>
                You can upload up to 6 images about your post.
            
            <td>
                <div id="imageUpload">
ww
                </div>
            </td>
        </tr>
        </table>

  
      </div>

</div>