<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"
>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar> <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <h2>MENU</h2>
      </button></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="home"> <i class="fa fa-handshake-o fa-fw"></i>&nbsp;&nbsp;How It Works</a>
      <a mat-list-item href="case"> <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;About Mbaro Pune</a>
      <a mat-list-item href="vacation"> <i class="fas fa-book fa-fw"></i>&nbsp;&nbsp;Why Mbaro Pune</a>
      <a mat-list-item href="schedule"> <i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Pricing</a>
      <a *ngIf="!userLoggedIn" mat-list-item href="login"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Log In</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" id="mat-button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <img  src="\assets\images\logo.png" id="img-logo" height="50px">&nbsp; -->
      <div style="cursor: pointer" (click)="goHome()">
        <span class="span-mbaro" style="font-weight: bolder;font-family: 'Ink Free'">MBARO PUNE</span>

      </div>
      <span *ngIf="!userLoggedIn"  class="example-spacer"></span>
      <div   class="col" style="text-align:right">
      </div>
        <span *ngIf="!userLoggedIn"  class="example-spacer"></span>
      <a *ngIf="!(userLoggedIn)" mat-flat-button  class="btn btn-primary btn-lg" id="btn-post" href="signup" tabindex="-1" role="button" >Register
      </a>
      <div *ngIf="(userLoggedIn )" class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
              <img src="../../../assets/images/NicePng_gray-circle-png_1366211.png"  style="width:  45px;" alt="" class="user-image mr-1 p-2" />

              {{userName}}
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="goPost()" mat-menu-item>
                <i class="fa fa-plus-square-o fa-fw" aria-hidden="true"></i>Post AD
              </button>
              <button (click)="goProfile()" mat-menu-item>
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile
              </button>
              <button (click)="handleLogout()" mat-menu-item>
                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>
      <app-footer>
      </app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

