
@media (max-width: 576px) {
  li {
    margin-left: 35%;
}
  #btn-post{
    font-size: 10px;
    text-align: center;
  }
 .span-mbaro{
  font-size: 14px;
 }
 #img-logo{
  width: 50px;
  height: 40px;
 }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: aliceblue;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: aliceblue;
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

li{list-style-type: none;}
