

<!-- <ng-image-slider [images]="imgCollection" #nav></ng-image-slider> -->
<br>


  <div class="row" style="width : 100%">
    <div class="col-12 col-sm-6 col-md-8">
        <div class="container-fluid">
            <h1>I will web application developer design responsive website and develop custom website</h1>
            <hr>
            <img src="../../../assets/images/NicePng_gray-circle-png_1366211.png" id="dp"  alt="" class="user-image mr-1 p-2" />
           <b><a style="cursor: pointer; text-decoration: underline">name</a></b> 
            <div class="vl"></div>

            <div class="ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
            </div>
           <b><p style="display: inline; margin-left: 0.4%;color: #fbc634;">4</p></b> 
            <p style="display: inline; margin-left: 0.6%;">(20)</p>
            <ngb-carousel [interval]="0" >
              <ng-template   ngbSlide *ngFor="let image of images">
                <div class="wrapper">
                  <img [src]="image.src" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                  <h3>{{ image.title }}</h3>
                  <p>{{ image.short }}</p>
                </div>
              </ng-template>
            </ngb-carousel>
                
            </div>
           
            <div class="container-fluid">
                <hr>
                <h1 >About This</h1>

                <p>
                    Once you place an order, you can be sure of acquiring a quality website developed with dedication, eye-toward-details, and best programming practices.



I’ve expertise in PHP, Angular & MEAN stack, and while developing I adapt AGILE methodology.



I always love to keep my clients worry-free as I take responsibility starting from planning to deployment.



I believe smooth & eye-catching design means you'll get MORE SALES. I always design solutions according to the target audience and area with appealing & minimalistic UI. In all my deliveries, performance, ease of access, security, mobile friendly (responsive) are my priorities.



I am confident that I can make a HUGE difference in the success of your business as I have sold hundreds of millions of dollars worth of products and services.



Let me assist you to design & develop your website for selling your services. You'll be amazed at the RESULTS you'll get!



P.S. Revisions are included. I'm not happy until you are!
 Once you place an order, you can be sure of acquiring a quality website developed with dedication, eye-toward-details, and best programming practices.



I’ve expertise in PHP, Angular & MEAN stack, and while developing I adapt AGILE methodology.



I always love to keep my clients worry-free as I take responsibility starting from planning to deployment.



I believe smooth & eye-catching design means you'll get MORE SALES. I always design solutions according to the target audience and area with appealing & minimalistic UI. In all my deliveries, performance, ease of access, security, mobile friendly (responsive) are my priorities.



I am confident that I can make a HUGE difference in the success of your business as I have sold hundreds of millions of dollars worth of products and services.



Let me assist you to design & develop your website for selling your services. You'll be amazed at the RESULTS you'll get!



P.S. Revisions are included. I'm not happy until you are!
                </p>
            </div>
           
    </div>



    <div  class="col-6 col-md-4" >
        <div class="container-fluid">
                <div class="col" >
                    <div id="fixedDiv">
                        <button type="button" id="btn-chat" class="btn btn-outline-success" >    <mat-icon id="icn-chat">chat</mat-icon>
                            Contact</button>
                        <div class="col" >
                            <div class=""style="max-width: 300px ;">
                                <h3 style="margin-left: 15%;"></h3>
                                <div id="mypaypal" #mypaypal>
                                                    
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
                <div class="col-4">
                 
                </div>
              </div>
        </div>
       
  </div>

 

